<a href="https://colab.research.google.com/github/Bolaji61/Hamoye_Internship/blob/master/Hamoye_Stage_2_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import Ridge, Lasso, LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/Bolaji61/Hamoye_Internship/master/Stage2%20Assessment/energydata_complete.csv')
data.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [4]:
data.describe()

         Appliances        lights  ...           rv1           rv2
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...     24.988033     24.988033
std      102.524891      7.935988  ...     14.496634     14.496634
min       10.000000      0.000000  ...      0.005322      0.005322
25%       50.000000      0.000000  ...     12.497889     12.497889
50%       60.000000      0.000000  ...     24.897653     24.897653
75%      100.000000      0.000000  ...     37.583769     37.583769
max     1080.000000     70.000000  ...     49.996530     49.996530

[8 rows x 28 columns]

In [5]:
data.drop(['lights'], axis=1,inplace=True)
data.drop(['date'], axis=1, inplace=True)

In [6]:
scaler = MinMaxScaler()
normalized_data = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)

In [7]:
X = normalized_data.drop(['Appliances'], axis=1)
y = normalized_data.Appliances

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [9]:
#considering just T2 and T6 features
train_x = X_train[['T2']]
train_y = X_train[['T6']]

test_x = X_test[['T2']]
test_y = X_test[['T6']]

In [10]:
model = LinearRegression()
model.fit(train_x, train_y)
prediction = model.predict(test_x)


#Question 12: Compute the r2_score 
R2_score = round(r2_score(test_y, prediction), 2)
R2_score

0.64

In [11]:
#Fit the overall data into linear regression model
lin_reg = LinearRegression() #create an instance of the model
lin_reg.fit(X_train, y_train) #fitting
y_pred = lin_reg.predict(X_test) #predict

In [12]:
mae = round(mean_absolute_error(y_test, y_pred), 2)
mae

0.05

In [13]:
rss = round(np.sum(np.square(y_test - y_pred)), 2)
rss

45.35

In [14]:
rmse = round(np.sqrt(mean_squared_error(y_test, y_pred)), 3)

rmse

0.088

In [15]:
# Computing the r2_score
R2_score = r2_score(y_test, y_pred)
round(R2_score, 2)

0.15

In [16]:
def get_weights_df(model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

# Execute the get_weight function and store in dataframe
linear_weights_df = get_weights_df(lin_reg, X_train, 'Linear_weight')

linear_weights_df
#The least is RH_2 and the highest is RH_1

       Features  Linear_weight
0          RH_2      -0.456698
1         T_out      -0.321860
2            T2      -0.236178
3            T9      -0.189941
4          RH_8      -0.157595
5        RH_out      -0.077671
6          RH_7      -0.044614
7          RH_9      -0.039800
8            T5      -0.015657
9            T1      -0.003281
10          rv1       0.000770
11          rv2       0.000770
12  Press_mm_hg       0.006839
13           T7       0.010319
14   Visibility       0.012307
15         RH_5       0.016006
16         RH_4       0.026386
17           T4       0.028981
18    Windspeed       0.029183
19         RH_6       0.038049
20         RH_3       0.096048
21           T8       0.101995
22    Tdewpoint       0.117758
23           T6       0.236425
24           T3       0.290627
25         RH_1       0.553547

In [17]:
ridge = Ridge()

# Fitting the ridge model with training set
ridge.fit(X_train, y_train)

# making predictions on test set
pred = ridge.predict(X_test)

ridge_rmse = round(np.sqrt(mean_squared_error(y_test, pred)), 3)


# alpha value as 0.4
ridge_reg = Ridge(alpha=0.4)

# fit on traing set
ridge_reg.fit(X_train, y_train)

# Make new predictions on test set
new_pred = ridge_reg.predict(X_test)

ridge_rmse_new = round(np.sqrt(mean_squared_error(y_test, new_pred)), 3)
print(ridge_rmse, " ",ridge_rmse_new)
#The two results are the same

0.088   0.088

In [18]:
lasso_reg = Lasso(alpha=0.001)

# Fit the lasso model with train set
lasso_reg.fit(X_train, y_train)

# Make predictions on test set
lasso_preds = lasso_reg.predict(X_test)

#call get_weights_df as written earlier
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')

non_zero_weights = lasso_weights_df[lasso_weights_df['Lasso_weight'] != 0]

print(non_zero_weights)

     Features  Lasso_weight
0      RH_out     -0.049557
1        RH_8     -0.000110
24  Windspeed      0.002912
25       RH_1      0.017880

In [19]:
# Compute the new RMSE with lasso regression
rmse_new = round(np.sqrt(mean_squared_error(y_test, lasso_preds)), 3)
rmse_new

0.094